<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <meta name = "viewport" content = "width = device-width, initial-scale = 1">

  <title>Fermentation APP</title>



  <!-- JS -->
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <!-- <script type="text/javascript" src="./static/js/main.js"> </script>-->
  <!-- CSS Styles -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <style>
  .navbar-text {
     position: absolute;
     width: 100%;
     left: 10;
     text-align: left;
     margin:0 auto;
  }

  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 200px;
    bottom: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    fit-position: top: 0px;
  }

  #temperature_plot{
     top: 2px;
     left: 2px;
  }


  </style>


</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Fermentation APP</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="#" data-toggle="modal" data-target="#myModal" data-backdrop="false" data-dismiss="modal">Create Run</a></li>

            <li class="dropdown">
            <li>
              <form action="{{ url_for('deftablename') }}" method="post" role="form">
              <select onchange="this.form.submit()" class="dropdown-toggle" data-toggle="dropdown" name='drop' class="selectpicker show-menu-arrow form-control" type="submit">
                {% for name in dbFiles %}
                <option value="{{ name }}" <span class="selection">{{ name }} </option>
                {% endfor %}
              </select>
            </form>
            </li>
          </li>
        </div>

          <div>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/shutdown">Shutdown Rasp</a></li>
          </ul>
        </div>

      </div>
    </nav>
    <div class="container">
      <div class="row">
        <h2 id="heading"></h2>

        <button href="#demo" class="btn btn-info" data-toggle="collapse">Info</button>
        <div id="demo" class="collapse">
          <div class="form-group">
            <form action="{{ url_for('submittext') }}" method="post" role="form">
              <textarea name='text' type = "text" class="form-control" rows="4">{{infotextarea}}</textarea>
              <input type="submit"  name='text' type = "text" class="btn btn-info" value="Save"></input>
            </form>
          </div>
        </div>

      </div>


      <br><br>
      <div class="row">
        <button  type="button" class="btn btn-success btn-lg" id="runButton">Start</button>
<form method="post">


        <div class="popover-markup"> <a href="#" class="trigger">Refresh 10min</a>
            <div class="head hide">Refresh Time (min)</div>
            <div class="content hide">
                <div class="form-group" >
                    <input type="text" id="popoverInput" class="form-control" placeholder="10">
                </div>
                <button type="submit" id="popoverSubmit" class="btn btn-default btn-block">Submit</button>
            </div>
            <div class="footer hide">test</div>
        </div>
</form>

      </div>
      <p></p>
      <div class="panel panel-info">
        <div class="panel-heading"></div>
        <div class="panel-body">
          <h5>Date period:</h5>
          <input type="text" name="daterange"></input>
          <div class="one column">
            <form id="range_select" action = "/" method="GET">
              <label class="radio-inline"><input type="radio" value="24" id="radio_3" name="range_h">24hrs</label>
              <label class="radio-inline"><input type="radio" name="range_h" value="72" id="radio_6" >3dys</label>
              <label class="radio-inline"><input type="radio" name="range_h" value="144" id="radio_12">6dys</label>
              <label class="radio-inline"><input type="radio" name="range_h" value="7000" id="radio_24">all</label>
            </form>
          </div>

        </div>
        <div id="temperature_plot" style="max-width: 600px; margin-left: 2; height: 400px; margin: 0 auto"></div>

      </div>

<!-- MODAL CREATE RUN -->
    <div class="modal" id="myModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">New Run</h4>
    </div>
    <div class="modal-body" rows="1">
      <form method='POST' role="form" action="/createRun" id="form1">
        <div class="form-group">
          <label for="message-text" class="form-control-label">Name:</label>
          <textarea class="form-control" id= "newName" name="runName"></textarea>
        </div>
      </form>
      <button type="submit" class="btn btn-primary" id="createButton" form="form1">Create</button>
    </div>
  </div>





<!-- <script src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script> -->

<script>


$('.popover-markup>.trigger').popover({
    html: true,
    title: 'Get value',
    content: function () {
        return $(this).parent().find('.content').html();
    }
});

$(document).on("click", "#popoverSubmit", function () {
    var inputval = $(".popover #popoverInput").val();
    $('.popover-markup').popover('hide');
    if (inputval === parseInt(data, 10)){
    return true;
  }
});



//label top page
if ('{{ tablename }}') {
  $('#heading').html('{{ tablename }}'+'  '+ '<span class="label label-pill label-warning" id="toplabel">Stopped</span>');
  $(".dropdown-toggle").val('{{ tablename }}');
};

//block save button in info textarea
$(document).ready(function() {
$('input[type="submit"]').attr('disabled', true);
$('input[type="text"],textarea').on('keyup',function() {
    var textarea_value = $("#text").val();
    var text_value = $('input[name="textField"]').val();
    if(textarea_value != '' && text_value != '') {
        $('input[type="submit"]').attr('disabled' , false);
    }else{
        $('input[type="submit"]').attr('disabled' , true);
    }
});
});





  var runState; // para identificar se a corrida está on a partir do python. Apagar abaixo se nao se usar esta var.

  $(function(){
    $('#runButton').click(function() {
      if ((this).text==="Stop" || runState) {
        (this).text = "Start"; runState=false; $ ('#toplabel').text("Stopped"); $ ("#runButton").removeClass("btn-warning btn-danger").addClass("btn-success");
      } else {(this).text="Stop"; runState=true; $ ('#toplabel').text("Running"); $ ("#runButton").removeClass("btn-warning btn-success").addClass("btn-danger active");}
    })
  });

  //datePeriod
  $(function() {
    $('input[name="daterange"]').daterangepicker();
  });

  $(function () {
      Highcharts.chart('temperature_plot', {
          xAxis: {
              categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                  'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
          },
          yAxis: {
              title: {
                  text: 'Temperature (°C)'
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }]
          },
          title:{
              text:''
          },
          legend:{
              enabled: false
          },
          tooltip: {
              valueSuffix: '°C'
          },
          series: [{
              name: 'T1',
              data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
          }, {
              name: 'T2',
              data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
          }, {
              name: 'Troom',
              data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
          }]
      });
  });




  //
  //     google.load('visualization', '1', {packages: ['corechart']});
  //     google.setOnLoadCallback(drawChart);
  //     function drawChart() {
  //       var data = new google.visualization.DataTable();
  //       data.addColumn('datetime', 'Data');
  //       data.addColumn('number', 'T1');
  //       data.addColumn('number', 'T2');
  //       data.addColumn('number', 'Texterior');
  //       data.addRows([
  //        {% for row in records %}
  //        [new Date({{row[0][0:4]}},{{row[0][5:7]}},{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),
  //        {{'%0.2f'|format(row[1])}},
  //        {{'%0.2f'|format(row[2])}},
  //        {{'%0.2f'|format(row[3])}}],
  //        {% endfor %}
  //        ]);
  //
  //       var options = {
  //         width: 600,
  //         height: 563,
  //         hAxis: {
  //           title: "Data",
  //           gridlines: { count: {{records_items}}, color: '#CCC' },
  //           format: {'dd-MMM-yyyy HH:mm' },
  //           vAxis: {
  //              title: 'ºC'
  //           },
  //           title: 'Temperatura',
  //         curveType: 'function'  //Makes line curved
  //      };
  //      var chart = new google.visualization.LineChart(document.getElementById('chart_temps'));
  //      chart.draw(data, options);
  //   };





</script>
</body>
</html>
